---
layout: default
---
<section class="textCenter">
 <h2 class=>Most Recent Adventure</h2>
	<div class="grid recentBlog textCenter">
		{% for post in site.posts limit:1 %}
			<div class="col-12 textCenter">
				<img class="backgroundRecentImg" src="{{ post.feature-image_path }}">
          <h2>{{post.title}}</h2>
          <p>{{post.excerpt | truncatewords:30}}</p>
          <a href="{{post.url}}">Read More</a>
        </div>

			{% endfor %}
	</div>
</section>
<section class="textCenter">
	<div class="grid">
    <div class="col-6_sm-12_xs-12">
	{% for post in site.posts % offset: 1 %}
				<h3> {{post.title}}</h3>
			<img class="bpimg" src="{{ post.feature-image_path }}">
					<!-- this is a background image -->
				<p>
					 {{post.excerpt | truncatewords:15}}
				</p>
				<a href="{{post.url}}"> Read More</a>
		{% endfor %}
  </div>
</div>
</section>
