<header class="grid-spaceBetween-middle mainNav" id="navbar">
<nav>
  <a class="socialIcon" href="https://www.instagram.com/traveling.trails/?hl=en"target="blank"><i class="fa fa-instagram " aria-hidden="true"></i></a>
  <a class="socialIcon" href="https://www.facebook.com/thegourdins/"target="blank"><i class="fa fa-facebook-official " aria-hidden="true"></i></a>
  <a class="socialIcon" href="https://www.pinterest.com/jgourdinphotography/"target="blank"><i class="fa fa-pinterest " aria-hidden="true"></i></a>
  <a href="/index.html">Home</a>
  <a href="/State.html">Work With Us</a>
  <a href="/Hiking.html">Resources</a>
  <a href="/Snowmobiling.html">Funtivities</a>
</nav>
</header>
<header class="hamburger">
  <nav class="hamburger">
	<div class="hamburger-button">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
	</div>
  <div class="hamburger-menu">
    <ul>
      <li><a href="/index.html">Home</a></li>
    	<li><a href="/travel.html">Travel</a></li>
    	<li><a href="/photos.html">Photos</a></li>
    	<li><a href="/blogpage.html">Blog</a></li>
      <li><a href="/about.html">About</a></li>
    	<!-- <li><a href="/shop.html">Shop The Prints</a></li> -->
    	<li><a class="smallMenu" href="join.html">Join The Journey</a></li>
    	<li><a class="smallMenu" href="getsite.html">Like Our Site? Get Your Own</a></li>
    	<li><a class="smallMenu" href="work.html">Work With Us</a></li>
    	<li><a class="smallMenu" href="prod.html">Products We Use / Discounts</a></li>
    	<hr />
      </ul>
</div>
</nav>
<nav>
        <div class="textCenter paddingLogo">
        <img src="/images/ttLogofinal.png" class="logo"alt="">
      </div>

  </nav>
</header>
